vars = {
  res_desktop--lg: desktop-lg,
  res_desktop--md: desktop-md,
  res_desktop--sm: desktop-sm,
  res_tablet--lg: tablet-lg,
  res_tablet--md: tablet-md,
  res_tablet--sm: tablet-sm,
  res_mobile--lg: mobile-lg,
  res_mobile--md: mobile-md,
  res_mobile--sm: mobile-sm
}

vars_i = {
  res_desktop--lg-i: desktop-lg,
  res_desktop--md-i: desktop-md,
  res_desktop--sm-i: desktop-sm,
  res_tablet--lg-i: tablet-lg,
  res_tablet--md-i: tablet-md,
  res_tablet--sm-i: tablet-sm,
  res_mobile--lg-i: mobile-lg,
  res_mobile--md-i: mobile-md,
  res_mobile--sm-i: mobile-sm
}

for key, val in vars
  .g
    &-res
      &--{val}
        display none
        @media key
          display block
        td&,th&
          @media key
            display table-cell
        tr&
          @media key
            display table-row
      &--{val}_n
        @media key
          display none

for key, val in vars_i
  .g
    &-res
      &--{val}-i
        display none
        @media key
          display block
        td&,th&
          @media key
            display table-cell
        tr&
          @media key
            display table-row

fl(ww = 'nowrap', jj = 'flex-start', aa = 'stretch')
	display flex
	// wrap
	if ww == 'n'
		flex-wrap nowrap
	else if ww == 'w'
		flex-wrap wrap
	else if ww != "nowrap"
		flex-wrap ww

	// justify content
	if jj == "fs"
		justify-content flex-start
	else if jj == "fe"
		justify-content flex-end
	else if jj == "sb"
		justify-content space-between
	else if jj == "sa"
		justify-content space-around
	else if jj == "c"
		justify-content center
	else if jj != 'flex-start'
		justify-content jj

	// align items
	if aa == "fs"
		align-items flex-start
	else if aa == "fe"
		align-items flex-end
	else if aa == "c"
		align-items center
	else if aa != "stretch"
		align-items aa
