flex-version = flex
support-for-ie = false
vendor-prefixes = official

.int-table

    &__table
        width: 100%
        border-collapse: collapse

        thead td,
        thead th
            padding: .5em
            text-align: left

        tbody td
            padding: .5em
            border-bottom: 1px solid

    &__no-data
        display: flex
        min-height: 70vh
        align-items: center
        justify-content: center

    & &__block
        &.active
            td
                border-bottom: none

    & &__nowrap
        white-space: nowrap

    &__control-tab
        text-align: center
        width: 40px

    & &__show
        border: 1px solid currentColor
        padding: 5px
        text-decoration: none

        > i:before
            content: '▼'

    &__list
        margin: auto
        max-width: 600px

        &-row
            border-bottom: 1px solid currentColor
            padding: 1em
            margin-bottom: 1em

        &-cell
            margin-bottom: .5em
            display: flex
            flex-wrap: wrap
            justify-content: space-between

        &-name
            text-transform: capitalize

.pager
    margin-top: 30px
    display: flex
    align-items: center
    justify-content: space-between