//breakpoints
res_desktop--lg = '(max-width 1300px)'
res_desktop--md = '(max-width 1100px)'
res_desktop--sm = '(max-width 1000px)'
res_tablet--lg = '(max-width 900px)'
res_tablet--md = '(max-width 800px)'
res_tablet--sm = '(max-width 700px)'
res_mobile--lg = '(max-width 600px)'
res_mobile--md = '(max-width 500px)'
res_mobile--sm = '(max-width 400px)'

res_desktop--lg-i = '(min-width 1301px)'
res_desktop--md-i = '(min-width 1101px)'
res_desktop--sm-i = '(min-width 1001px)'
res_tablet--lg-i = '(min-width 901px)'
res_tablet--md-i = '(min-width 801px)'
res_tablet--sm-i = '(min-width 701px)'
res_mobile--lg-i = '(min-width 601px)'
res_mobile--md-i = '(min-width 501px)'
res_mobile--sm-i = '(min-width 401px)'
